<section>
    <form [formGroup]="form" (ngSubmit)="submit()" novalidate>
      <div *ngFor="let prevEntity of entityPrevList; let i=index">
        <input type="checkbox" formArrayName="selectedEntities" [value]="prevEntity.entityId" (change)="onCheckboxChange($event)" 
        />
        {{ prevEntity.name}}
      </div>
      <button type="submit">Submit</button>
    </form>
  
    <p>{{ form.value | json }}</p>
  </section>

<section>
    <app-table-space
    [ListID] = "listID"
    >

    </app-table-space>
</section>
